#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

body {
  background-image: url('/MedsWebsiteIssaHD.gif');
  background-blend-mode: soft-light;
  background-position: center;
  opacity: 100%;
  background-size: cover;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  min-width: 20vmin;
  display: flex;
  margin: 0;
  font-size: 2vmin;
}

Link {
  cursor: pointer;
}

.nav {
  align-items: center;
  justify-content: center;
}

.socialNav {
  margin: 2vmin;
}

.burger {
  width: 4vmin;
  height: 2vmin;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  padding: auto;
  float: left;
  display: none;
}

.pickle {
  width: 2vmin;
  height: .25vmin;
  display: flex;
  border-radius: 10%;
  background-color: rgb(119, 185, 148);
  transform-origin: 1px;
  transition: all 173ms linear;
}

a {
  color: seagreen;
  cursor: pointer;
  font-size: 2.5vmin;
  text-decoration: none;
}

.navA {
  margin: 3.5vmin;
  filter: will-change;
  perspective: 10000px;
}

.navA:hover {
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.newsA {
  filter: will-change;
  perspective: 2000px;
  font-size: 2vmin;
  font-weight: bolder;
  color: rgb(119, 185, 148);
}

.newsA:visited {
  color: rgb(119, 185, 148);
}

.newsA:hover {
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: rgb(158, 220, 185);

}

a:hover {
  color: rgb(119, 185, 148);
  transform: scale(101%);
  transition: ease-in 173ms;
  cursor: pointer;
}

a:visited {
  color: seagreen;
}

a:visited:hover {
  color: rgb(119, 185, 148);
}

.contactA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.contactA:visited {
  color: whitesmoke;
  margin: 0 auto;
}

.captionA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 1.73vmin;
}

.captionA:visited {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.captionA:hover {
  color: rgb(119, 185, 148);
}

.bandA {
  font-size: 2.25vmin;
  color: rgb(119, 185, 148);
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.bandA:hover {
  color: seagreen;
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  cursor: pointer;
}

.supportA {
  color: rgb(158, 220, 185);
  text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
  font-size: 2vmin;
  filter: will-change;
}

.supportA:visited {
  color: rgb(158, 220, 185);
  text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;

}

.supportA:hover {
  color: whitesmoke;
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
}

.supportA:visited:hover {
  color: whitesmoke;
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
}

.footerLink {
  font-size: 2vmin;
  margin: 1vmin;
}

.newsCard {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  margin: 3vmin;
  border-radius: 10px;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(49, 53, 49, 0.73);
  background-image: url('/MedsWebsiteIssaHD.gif');
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.newsCard:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px rgba(119, 185, 148, .73);
  transition: ease-in 142ms;
  background-color: rgba(49, 53, 49, 0.73);
}

.tourCard {
  padding: 3vmin;
  margin: 1vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.tourCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 142ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.bioCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  background-image: url('/MedsWebsiteIssaHD.gif');
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: 85%;
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.bioTextCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 11vmin;
  margin-right: 11vmin;
}

.bioCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 173ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
  opacity: 100%;
}

p {
  margin-left: 10vmin;
  margin-right: 10vmin;
  justify-self: center;
}

.imageCard {
  max-width: fit-content;
}

.epImage {
  max-width: 20vmin;
  border-radius: 10px;
}

.bandImage {
  max-width: 73vmin;
  border-radius: 10px;
}


.socialImage {
  max-width: 6vmin;
  border-radius: 50%;
  cursor: pointer;
  opacity: 73%;
  margin: 1vmin;
  filter: will-change;
}

.socialImage:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.mainMedsImage {
  max-width: 80vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage {
  max-width: 75vmin;
  max-height: 50vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage:hover {
  transform: scale(101%);
  transition: ease-in 142ms;
  opacity: 95%;
}

.releaseImage {
  max-width: 69vmin;
  max-height: 50vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 86%;
  filter: will-change;
  max-width: 100%;
}

.releaseImage:hover {
  transition: ease-in 142ms;
  opacity: 95%;
}

.posterImage {
  border-radius: 10px;
  opacity: 86%;
  filter: will-change;
  max-width: 100%;
  max-height: 100vh;
  ;
}

.posterImage:hover {
  transition: ease-in 142ms;
  opacity: 95%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));

}

.videoYT {
  border-radius: 12px;
  border: 1px solid transparent;
  filter: will-change;
  opacity: 95%;
  width: 69vw;
  max-width: 80%;
}

.videoYT:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
  opacity: 100%;
}

.spotifyPlayer {
  border-radius: 12px;
  border: 1px solid transparent;
  filter: will-change;
  opacity: 95%;
  width: 69vw;
  height: 352px;
  max-width: 80%;
}

.spotifyPlayer:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
  opacity: 100%;
}

.headerText {
  font-family: 'Rubik Glitch', cursive;
  font-size: 2.75vmin;
  text-shadow: -.15px .15px black, -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.newsHeaderText {
  font-size: 2.25vmin;
  color: whitesmoke;
  text-shadow: -.15px .15px black, -.25px, .25px whitesmoke, -.35px, .35px rgb(158, 220, 185), .5px .5px black;
  opacity: 90%;
  margin: 1vmin;
}

.medsText {
  margin-top: -.5vmin;
  color: rgb(119, 185, 148);
  font-family: 'Rubik Burned', cursive;
  opacity: 86%;
  font-size: 8vmin;
  text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
  perspective: 1000px;
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.medsText:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
  cursor: crosshair;
  opacity: 66%;
}

@keyframes pulse {
  0% {
    transform: scale3d(.73, .73, .1);
    opacity: 42%;
    text-shadow: -.25px .25px black;
    transform-origin: 50% 66%;
  }

  50% {
    transform: scale3d(1.17, 1.17, 3);
    opacity: 60%;
    text-shadow: -.5px .5px black;
  }

  86% {
    transform: scale3d(1, 1, 13.7);
    opacity: 37%;
    text-shadow: -.25px .25px black;
    transform-origin: 50% 73%;

  }
}

.boldText {
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.boldBioText {
  color: rgb(119, 185, 148);
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

figcaption {
  color: whitesmoke;
}

.news {
  margin: 1vmin;
  padding: 3vmin;
  border: 1px solid rgb(158, 220, 185);
  background-color: rgb(13, 13, 13);
  opacity: 73%;
  border-radius: 10px;
  filter: will-change;
}

.news:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
  opacity: 92%;
}

.article {
  height: 66vh;
  width: 69vw;
  max-width: 80%;
  border-radius: 10px;
  filter: will-change;
}

.article:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));
  opacity: 100%;
}

p {
  margin-left: 10vmin;
  margin-right: 10vmin;
  justify-self: center;
  font-size: 2vmin;
}

table {
  margin: 2vmin;
}

.th {
  border: 1px solid rgb(119, 185, 148);
  border-radius: 5px;
  padding: 1vmin;
  background-color: rgba(245, 245, 245, .96);
  color: rgba(17, 17, 17, .66);
  width: fit-content;
}

.td {
  padding: 1vmin;
  width: fit-content;
  font-size: 1.75vmin;
}

button {
  font-weight: bolder;
}

.button {
  border-radius: 1.73vmin;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  font-size: 2vmin;
  opacity: 90%;
  padding: .75vmin;
  filter: will-change;
}

.button:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  border: .5px solid rgb(119, 185, 148);
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
  opacity: 100%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.contactButton {
  border-radius: 1.73vmin;
  background-color: whitesmoke;
  color: rgb(119, 185, 148);
  border: 1px solid rgb(119, 185, 148);
  cursor: pointer;
  height: fit-content;
  width: 14vmin;
  font-size: 2vmin;
  opacity: 90%;
  padding: .75vmin;
  filter: will-change;
  margin: 3vmin;
  font-weight: bolder;
}

.contactButton:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  border: .5px solid rgb(119, 185, 148);
  color: whitesmoke;
  background-color: rgb(119, 185, 148);
  opacity: 100%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.onSaleButton {
  font-size: 1.5vmin;
  border-radius: 1.73vmin;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-weight: bolder;
  padding: 1vmin;
  filter: will-change;
  margin: 3vmin;
}

.onSaleButton:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  border: .5px solid rgb(119, 185, 148);
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
  opacity: 100%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.viewAllButton {
  margin: 2vmin;
  padding: .75vmin;
  height: fit-content;
  width: fit-content;
  font-size: 1.73vmin;
  border-radius: 1.73vmin;
  background-color: rgba(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  filter: will-change;
  font-weight: bolder;
}

.viewAllButton:hover {
  transform: scale(105%);
  transition: ease-in 173ms;
  border: 1px solid rgba(17, 17, 17, .33);
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  filter: drop-shadow(0 0 3vmin rgb(119, 185, 148));
}

.footer {
  font-size: 2vmin;
  text-align: center;
  max-width: 100%;
  bottom: 0cap;
}

@media (max-width: 680px) {
  body {
    background-image: url('/Meds_30for30_V.gif');
    background-blend-mode: soft-light;
    background-size: cover;
  }

  /* .burger {
    display: fixed;
    padding-top: 1vmin;
    margin-left: 1vmin;
    z-index: 10;
  } */

  .nav {
    margin-top: 2vmin;
  }

  a {
    font-size: 3.17vmin;
  }

  .navA {
    margin: 2.5vmin;
    font-size: 2.75vmin;
  }

  .headerText {
    font-size: 4vmin;
  }

  .newsHeaderText {
    font-size: 3.37vmin;
    font-weight: bolder;
  }

  .newsA {
    font-size: 2.75vmin;
  }

  .bandA {
    font-size: 2.75vmin;
  }

  .supportA {
    font-size: 110%;
    width: 100%;
    text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
  }

  .contactA {
    font-size: 2.5vmin;
  }

  .newsCard {
    width: 75vmin;
    background-image: url('/Meds_30for30_V.gif');
    background-size: cover;
    background-blend-mode: soft-light;
  }

  .bioCard {
    margin-left: 2vmin;
    margin-right: 2vmin;
    border-radius: 10px;
    background-image: url('/Meds_30for30_V.gif');
    background-size: cover;
    background-blend-mode: soft-light;
  }

  p {
    font-size: 2.75vmin;
    margin: 2vmin;
  }

  .news {
    margin: 0 auto;
  }

  .article {
    width: 69vmin;
    text-size-adjust: 75%;
    height: 50vh;
    overflow: auto;
    overflow-anchor: auto;
    max-width: 100%;
    zoom: fixed;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-align: center;
    scroll-timeline: none y;
    scroll-timeline-axis: y;
    scroll-timeline-axis: vertical;
  }


  .releaseImage {
    width: 70vmin;
    min-height: 70vmin;
  }

  .socialImage {
    margin: auto;
  }

  .videoYT {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: transparent;
  }

  .spotifyPlayer {
    width: max-content;
    border: transparent;
  }

  table {
    margin: .5vmin;
    padding: .5vmin;
  }

  .th {
    width: fit-content;
    font-size: auto;
  }

  td {
    min-width: 1vmin;
    min-height: fit-content;
    font-size: 2vmin;
    text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
  }

  .venueTD {
    margin: 1vmin;
  }

  .button {
    font-size: 2.5vmin;
    height: fit-content;
    width: fit-content;
    font-weight: bolder;
  }

  .contactButton {
    margin: 7vmin;
  }

  .onSaleButton {
    width: 9vmin;
    height: fit-content;
    font-size: fit-content;
    font-weight: bolder;
  }

  .viewAllButton {
    font-weight: bolder;
    font-size: 2.5vmin;
  }

  .contactButton {
    font-size: 2.5vmin;
  }

  .venueTD {
    font-size: 1.73vmin;
  }

  .footerLink {
    font-size: 1.73vmin;
  }

  .footer {
    display: flex;
    bottom: 0cap;
    left: 25vmin;
    font-size: 1.73vmin;
    justify-content: center;
    align-items: center;
  }

}