#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

body {
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-blend-mode: soft-light;
  opacity: 100%;
  background-size: cover;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  min-width: 20vmin;
  display: flex;
  margin: 0;
  font-size: 2vmin;
}

Link {
  cursor: pointer;
}

.nav {
  align-items: center;
  justify-content: center;
}

.socialNav {
  margin: 2vmin;
}

.burger {
  width: 4vmin;
  height: 2vmin;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  padding: auto;
  float: left;
  display: none;
}

.pickle {
  width: 2vmin;
  height: .25vmin;
  display: flex;
  border-radius: 10%;
  background-color: rgb(119, 185, 148);
  transform-origin: 1px;
  transition: all 142ms linear;
}

a {
  margin: 1vmin;
  color: seagreen;
  cursor: pointer;
  font-size: 2.5vmin;
  text-decoration: none;
}

.navLink {
  margin: 2vmin;
}

a:hover {
  color: rgb(119, 185, 148);
  transform: scale(105%);
  transition: ease-in 142ms;
  cursor: pointer;
}

a:visited {
  color: seagreen;
}

a:visited:hover {
  color: rgb(119, 185, 148);
}

.contactA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.contactA:visited {
  color: whitesmoke;
  margin: 0 auto;
}

.captionA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.captionA:visited {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.bandA {
  color: rgb(119, 185, 148);
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.bandA:hover {
  color: seagreen;
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  cursor: pointer;
}

.bandImage {
  max-width: 73vmin;
  border-radius: 10px;
}

.socialImage {
  max-width: 5vmin;
  border-radius: 50%;
  cursor: pointer;
  opacity: 73%;
  margin: 1vmin;
}

.socialImage:hover {
  transform: scale(103%);
  transition: ease-in 142ms;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.mainMedsImage {
  max-width: 80vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage {
  max-width: 69vmin;
  max-height: 50vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage:hover {
  transform: scale(102%);
  transition: ease-in 142ms;
  opacity: 86%;
  border: 1px solid rgba(119, 185, 148, .42);
}

.headerText {
  /* font-family: 'Waiting for the Sunrise', cursive; */
  font-family: 'Rubik Glitch', cursive;
  font-size: 2.5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.medsText {
  color: rgb(119, 185, 148);
  margin-left: .5vmin;
  font-family: 'Rubik Burned', cursive;
  opacity: 86%;
  font-size: 6vmin;
  text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
}

.boldText {
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.boldBioText {
  color: rgb(119, 185, 148);
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

figcaption {
  color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  margin: 2vmin;
  border-radius: 5px;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(49, 53, 49, 0.73);
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-size: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.card:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px rgba(119, 185, 148, .73);
  transition: ease-in 142ms;
  background-color: rgba(49, 53, 49, 0.73);
}

.tourCard {
  padding: 3vmin;
  margin: 1vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.tourCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 142ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.bioCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-size: 100%;
  opacity: 86%;
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.bioTextCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 20vmin;
  margin-right: 20vmin;
  /* border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-size: 100%;
  background-blend-mode: soft-light; */
  /* box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73); */
}

.bioCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 142ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
  cursor: pointer;
  opacity: 100%;
}

p {
  margin-left: 8vmin;
  margin-right: 8vmin;
}

.th {
  border: 1px solid rgb(119, 185, 148);
  border-radius: 5px;
  padding: 1vmin;
  background-color: rgba(245, 245, 245, .96);
  color: rgba(17, 17, 17, .66);
}

.td {
  text-align: center;
  padding: 2vmin;
}

.button {
  border-radius: 1.73vmin;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  cursor: pointer;
  height: 3.5vmin;
  font-size: 2vmin;
  opacity: 90%;
}

.button:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  border: 1px solid whitesmoke;
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
  opacity: 100%;
}

.onSaleButton {
  font-size: 1.5vmin;
  border-radius: 1.73vmin;
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  border: 1px solid rgb(119, 185, 148);
  cursor: pointer;
}

.onSaleButton:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  border: 1px solid rgba(17, 17, 17, .33);
  color: whitesmoke;
  background-color: rgba(119, 185, 148, .86);
}

.footer {
  font-size: 2vmin;
  text-align: center;
  max-width: 100%;
  bottom: 0cap;
}

@media (max-width: 480px) {
  /* .burger {
    display: fixed;
    padding-top: 1vmin;
    margin-left: 1vmin;
    z-index: 10;
  } */

  a {
    font-size: 3vmin;
    margin: 2vmin;
  }

  .card {
    width: 70vmin;
  }

  .button {
    font-size: 2.5vmin;
    height: fit-content;
    width: fit-content;
  }

  .footer {
    display: flex;
    position: absolute;
    bottom:0cap ;
    left: 25vmin;
    justify-content: center;
    align-items: center;

  }

}