#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

body {
  background-image: url('/IssaTeaserSquareNoText.gif');
  opacity: 73%;
  background-size: cover;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  min-width: 10vw;
  display: flex;
  margin: 0;
  font-size: 2vmin;
}

.nav {
  align-items: center;
  justify-content: center;
}

.socialNav {
  margin: 2vmin;
}

a {
  margin: 1vmin;
  color: seagreen;
  cursor: pointer;
  font-size: 2vmin;
  text-decoration: none;
}

.navLink {
  margin: 2vmin;
}

a:hover {
  color: rgb(119, 185, 148);
  transform: scale(105%);
  transition: ease-in 142ms;
}

a:visited {
  color: seagreen;
}

a:visited:hover {
  color: rgb(119, 185, 148);
}

.bandImage {
  max-width: 66vmin;
  border-radius: 10px;
}

.socialImage {
  max-width: 4.2vmin;
  border-radius: 50%;
  cursor: pointer;
  opacity: 69%;
  margin: 1vmin;
}

.socialImage:hover {
  transform: scale(103%);
  transition: ease-in 142ms;
  opacity: 86%;
}

.mainMedsImage {
  max-width: 86vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}
.medsImage {
  max-width: 69vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

/* .katyImage:hover {
  transform: scale(113%);
  transition: ease-in 30ms;
  opacity: 100%;
  border: 3px solid palevioletred;
  border-radius: 50%;
} */

.headerText {
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bolder;
  font-size: 4vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.medsText {
  color: rgb(119, 185, 148);
  margin-left: .5vmin;
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bolder;
  font-size: 3.5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.boldText {
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.boldBioText {
  color: rgb(119, 185, 148);
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  margin: 2vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: rgba(49, 53, 49, 0.73);
  background-image: url('public/IssaTeaserSquareNoText.gif');
  background-size: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
}

.tourCard {
  padding: 3vmin;
  margin: 1vmin;
  border-radius: 5px;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
}

.tourCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  border: 1px solid whitesmoke;
}

p {
  max-width: 73vmin;
}

.th {
  border: 1px solid rgb(119, 185, 148);
  border-radius: 5px;
  padding: 1vmin;
}

.td {
  text-align: center;
  padding: 2vmin;
}

.button {
  border-radius: 5px;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  cursor: pointer;
}

.button:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  border: 1px solid whitesmoke;
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
}

.onSaleButton {
  font-size: 2vmin;
  border-radius: 5px;
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  border: 1px solid rgb(119, 185, 148);
  cursor: pointer;
}

.onSaleButton:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  border: 1px solid rgba(17, 17, 17, .33);
  color: whitesmoke;
  background-color: rgba(119, 185, 148, .73);
}

.footer {
  font-size: 2vmin;
  position: absolute;
  text-align: center;
  width: 100%;
}