#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

body {
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-blend-mode: soft-light;
  background-position: center;
  opacity: 100%;
  background-size: cover;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  min-width: 20vmin;
  display: flex;
  margin: 0;
  font-size: 2vmin;
}

Link {
  cursor: pointer;
}

.nav {
  align-items: center;
  justify-content: center;
}

.socialNav {
  margin: 2vmin;
}

.burger {
  width: 4vmin;
  height: 2vmin;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  padding: auto;
  float: left;
  display: none;
}

.pickle {
  width: 2vmin;
  height: .25vmin;
  display: flex;
  border-radius: 10%;
  background-color: rgb(119, 185, 148);
  transform-origin: 1px;
  transition: all 173ms linear;
}

a {
  /* margin: 1.5vmin; */
  color: seagreen;
  cursor: pointer;
  font-size: 2.5vmin;
  text-decoration: none;
}

.navA {
  margin: 2.75vmin;
  filter: will-change;
  perspective: 1000px;
}

.navA:hover {
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.newsA {
  filter: will-change;
  perspective: 1000px;
  font-size: 1.73vmin;
  font-weight: bolder;
  color: rgb(119, 185, 148);
}

.newsA:visited {
  color: rgb(119, 185, 148);
}

.newsA:hover {
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: rgb(158, 220, 185);

}

a:hover {
  color: rgb(119, 185, 148);
  transform: scale(101%);
  transition: ease-in 173ms;
  cursor: pointer;
}

a:visited {
  color: seagreen;
}

a:visited:hover {
  color: rgb(119, 185, 148);
}

.contactA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.contactA:visited {
  color: whitesmoke;
  margin: 0 auto;
}

.captionA {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 1.73vmin;
}

.captionA:visited {
  color: whitesmoke;
  margin: 0 auto;
  font-size: 2vmin;
}

.captionA:hover {
  color: rgb(119, 185, 148);
}

.bandA {
  color: rgb(119, 185, 148);
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.bandA:hover {
  color: seagreen;
  font-weight: bold;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  cursor: pointer;
}


.footerLink {
  font: 2vmin;
  margin: 1vmin;
}

.bandImage {
  max-width: 73vmin;
  border-radius: 10px;
}

.socialImage {
  max-width: 6vmin;
  border-radius: 50%;
  cursor: pointer;
  opacity: 73%;
  margin: 1vmin;
  filter: will-change;
}

.socialImage:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.mainMedsImage {
  max-width: 80vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage {
  max-width: 69vmin;
  max-height: 50vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 73%;
}

.medsImage:hover {
  transform: scale(102%);
  transition: ease-in 173ms;
  opacity: 95%;
  border: 1px solid rgba(119, 185, 148, .42);
}

.releaseImage {
  max-width: 69vmin;
  max-height: 50vmin;
  border-radius: 10px;
  margin: 1vmin;
  opacity: 86%;
  filter: will-change;
}

.releaseImage:hover {
  transition: ease-in 173ms;
  opacity: 95%;
  border: 1px solid rgba(119, 185, 148, .42);
}

.videoYT {
  border-radius: 1vmin;
  filter: will-change;
}

.videoYT:hover {
  transition: 142ms ease-in-out;
  filter: drop-shadow(0 0 .5vmin rgb(119, 185, 148));

}

.headerText {
  font-family: 'Rubik Glitch', cursive;
  font-size: 2.5vmin;
  text-shadow: -.15px .15px black, -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.medsText {
  margin-top: -.5vmin;
  color: rgb(119, 185, 148);
  font-family: 'Rubik Burned', cursive;
  opacity: 86%;
  font-size: 8vmin;
  text-shadow: -.5px, .5px whitesmoke, -.75px, .75px rgb(119, 185, 148), .1px .1px black;
  perspective: 1000px;
  transform-style: preserve-3d;
  animation-name: pulse;
  animation-duration: 3.71ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.medsText:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale3d(.173, .173, .1);
    opacity: 42%;
    text-shadow: -.25px .25px black;
    transform-origin: 50% 66%;
  }

  50% {
    transform: scale3d(1.17, 1.2, 3);
    opacity: 73%;
    text-shadow: -.5px .5px black;
  }

  86% {
    transform: scale3d(1, 1, 13.7);
    opacity: 37%;
    text-shadow: -.25px .25px black;
    transform-origin: 50% 73%;

  }
}

.boldText {
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
  opacity: 86%;
}

.boldBioText {
  color: rgb(119, 185, 148);
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

figcaption {
  color: whitesmoke;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  margin: 2vmin;
  border-radius: 5px;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(49, 53, 49, 0.73);
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
  opacity: 86%;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.card:hover {
  opacity: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px rgba(119, 185, 148, .73);
  transition: ease-in 173ms;
  background-color: rgba(49, 53, 49, 0.73);
}

.tourCard {
  padding: 3vmin;
  margin: 1vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.tourCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 173ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
}

.bioCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  border: 1px solid rgb(119, 185, 148);
  background-color: rgba(17, 17, 17, .55);
  background-image: url('/IssaTeaserSquareNoText.gif');
  background-size: cover;
  background-position: center;
  opacity: 85%;
  box-shadow: 0px 0px 1px 1px rgba(119, 185, 148, .73);
}

.bioTextCard {
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin: 1vmin;
  margin-left: 20vmin;
  margin-right: 20vmin;
}

.bioCard:hover {
  background-color: rgba(49, 53, 49, 0.73);
  transition: ease-in 173ms;
  box-shadow: 0px 0px 2px 2px rgba(119, 185, 148, .73);
  opacity: 100%;
}

p {
  margin-left: 8vmin;
  margin-right: 8vmin;
}

table {
  margin: 2vmin;
}

.th {
  border: 1px solid rgb(119, 185, 148);
  border-radius: 5px;
  padding: 1vmin;
  background-color: rgba(245, 245, 245, .96);
  color: rgba(17, 17, 17, .66);
  width: fit-content;
}

.td {
  padding: 1vmin;
  width: fit-content;
  ;
  font-size: 1.37vmin;
}

.button {
  border-radius: 1.73vmin;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  font-size: 2vmin;
  opacity: 90%;
  padding: .75vmin;
  filter: will-change;
}

.button:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  border: .5px solid rgb(119, 185, 148);
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
  opacity: 100%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.onSaleButton {
  font-size: 1.5vmin;
  border-radius: 1.73vmin;
  background-color: rgb(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: .75vmin;
  filter: will-change;
}

.onSaleButton:hover {
  transform: scale(103%);
  transition: ease-in 173ms;
  border: .5px solid rgb(119, 185, 148);
  color: rgb(17, 17, 17);
  background-color: whitesmoke;
  opacity: 100%;
  filter: drop-shadow(0 0 2vmin rgb(119, 185, 148));
}

.viewAllButton {
  margin: 2vmin;
  padding: .75vmin;
  height: fit-content;
  width: fit-content;
  font-size: 1.5vmin;
  border-radius: 1.73vmin;
  background-color: rgba(119, 185, 148);
  color: whitesmoke;
  border: 1px solid transparent;
  cursor: pointer;
  filter: will-change;
}

.viewAllButton:hover {
  transform: scale(105%);
  transition: ease-in 173ms;
  border: 1px solid rgba(17, 17, 17, .33);
  background-color: whitesmoke;
  color: rgb(17, 17, 17);
  filter: drop-shadow(0 0 3vmin rgb(119, 185, 148));
}

.footer {
  font-size: 2vmin;
  text-align: center;
  max-width: 100%;
  bottom: 0cap;
}

@media (max-width: 480px) {
  /* .burger {
    display: fixed;
    padding-top: 1vmin;
    margin-left: 1vmin;
    z-index: 10;
  } */

  .nav {
    margin-top: 2vmin;
  }

  a {
    font-size: 3vmin;
    /* margin: 2vmin; */
  }

  .card {
    width: 70vmin;
  }

  .bioCard {
    margin-left: 2vmin;
    margin-right: 2vmin;
  }

  .contactA {
    font-size: 2.5vmin;
  }

  p {
    margin-left: 1vmin;
    margin-right: 1vmin;
  }

  .th {
    width: fit-content;
    font-size: auto;
  }

  .td {
    width: fit-content;
    min-height: fit-content;
    font-size: 73%;
  }

  .button {
    font-size: 2.5vmin;
    height: fit-content;
    width: fit-content;
  }

  .onSaleButton {
    width: fit-content;
    height: fit-content;
  }

  .bandA {
    font-size: 2vmin;
  }

  .footerLink {
    font-size: 1.73vmin;
  }

  .footer {
    display: flex;
    bottom: 0cap;
    left: 25vmin;
    font-size: 1.73vmin;
    justify-content: center;
    align-items: center;
  }

}