#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vmin;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: whitesmoke;
}

body {
  background-image: url('/IssaTeaserSquareNoText.gif');
  opacity: 73%;
  background-size: cover;
  background-color: rgb(17, 17, 17);
  min-height: 100vh;
  min-width: 10vw;
  display: flex;
  margin: 0;
}

a {
  margin: 2vmin;
  color: seagreen;
  cursor: pointer;
}

a:hover {
  color: rgb(119, 185, 148);
}

a:visited {
  color: seagreen;
}

a:visited:hover {
  color: seagreen;
}

.bandImage {
  max-width: 66vmin;
  border-radius: 10px;
}

.socialImage {
  max-width: 8vmin;
  border-radius: 50%;
  cursor: pointer; 
}

.boldText {
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;
}

.boldBioText {
  color: rgb(119, 185, 148);
  font-weight: bold;
  margin-right: .5vmin;
  margin-left: .5vmin;
  text-shadow: -.25px, .25px whitesmoke, .5px .5px black;

}

p {
  max-width: 66vmin;
}
